ul {
	list-style: none;
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
	gap: 20px;
}

.pagination .page-number {
	font-size: 18px;
	font-weight: 700;
	color: #00a8ff;
	background: #fff;
	padding: 8px 18px;
	border-radius: 10px;
	box-shadow: 1px 1px 3px 2px #ccc;
	cursor: pointer;
	transition: all 0.1s ease;
}

.pagination .page-number:hover {
	color: #fff;
	background: rgb(0, 98, 255);
}

.pagination .active {
	color: #fff;
	background: rgb(0, 98, 255);
}

.pagination .active:hover {
	color: rgb(0, 98, 255);
	background: #fff;
}