.breadcrumb {
    padding: 8px 10px;
}

.breadcrumbContent {
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

.breadcrumbText {
    display: inline-block;
    margin: 0 5px;
    font-size: 13px;
    line-height: 32px;
}

.link:hover {
    color: #0066cc
}

.main {
    width: 100%;
    background-color: #f5f5f7;
}

.content {
    max-width: 1200px;
    margin: auto;
}

.title1 {
    text-align: center;
}

.title {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
}

.banner {}