.overlay {
    background-color: #000;
    opacity: 0.65;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.4s linear;
}

.bPopup {
    position: fixed;
    text-align: left;
    min-width: 800px;
    /* height: 993px; */
    background: #ffffff;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 40px 52px 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    animation: fadeIn 0.2s linear;
}

@keyframes fadeIn
 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
 }